@use "../base" as *;

/*into-content*/
#intro-content {
  margin: 5vw 6.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  h1 {
    font-family: $primary-font;
    color: $text-color;
    font-weight: bold;
    font-size: 28px;
  }
  h3 {
    font-family: $primary-font;
    color: $text-color;
    font-weight: bold;
    font-size: 28px;
  }

  p {
    font-family: $secondary-font;
    color: $text-color;
    font-size: 13px;
  }

  .intro-img {
    width: auto;
    margin-top: 2vw;
    img {
      width: 100%;
    }
  }
}
