@use "../base" as *;

main {
  margin: 5vw 6.5vw;
}
.hidden {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.error {
  font-family: $secondary-font;
  font-size: 10px;
  color: red;
  font-weight: bold;
}
#job-desc {
  display: flex;
  flex-direction: column;

  .j-img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  .j-info {
    p {
      font-family: $secondary-font;
      color: $text-color;
      font-size: 14px;
    }
    h3 {
      font-family: $secondary-font;
      color: red;
      font-size: 12px;
      font-style: italic;
      font-weight: bold;
      margin-top: 2vw;
    }
  }
}

#job-form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  margin-top: 4vw;
  h1 {
    font-size: 14px;
    padding: 2vw;
    text-align: center;
    margin-top: 2vw;
  }

  #form-j {
    padding: 30px 40px;

    .form-group {
      margin-bottom: 10px;
      padding-bottom: 9px;
      position: relative;
      label {
        font-family: $primary-font;
        color: $text-color;
        font-weight: bolder;
        font-size: 13px;
      }
      input {
        border: 2px solid #f0f0f0;
        border-radius: 4px;
        display: block;
        width: 100%;
        padding: 7px;
        font-size: 13px;

        &:focus {
          outline: 0;
          border-color: #777;
        }
      }
    }
    #interest {
      border: 1px solid #0d4882;
      margin-top: 1.5vw;
      color: $text-color;
    }
  }
}

.j-btn {
  cursor: pointer;
  background-color: #3498db;
  border: 2px solid #3498db;
  border-radius: 4px;
  color: #fff;
  display: block;
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
}

.form-submit {
  position: absolute;
  height: 89vw;
  border-radius: 50%;
  top: 175vw;
  background-color: #0d4882;
  margin: 5vw 6.5vw;
  right: 0vw;
  z-index: 1000;
  display: flex;
  align-items: center;

  .f-info {
    padding: 1vw;
  }

  .f-s {
    padding: 5vw;

    .f-d {
      color: white;
      font-family: $primary-font;
      font-size: 12px;
    }
    .f-icon {
      margin-bottom: 4vw;
      display: flex;
      justify-content: flex-end;
      .close {
        border: none;
        width: 8vw;
      }
    }
  }
}

.blur {
  filter: blur(2px);
}
