@use "../base" as *;

.mobile-nav {
  display: flex;

  .mobile-menu {
    z-index: 2;
    flex-direction: column;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    transition: 1000ms ease all;
  }

  .mobile-menu li {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-left: 0;
    padding: 20px 40px;

    a {
      text-decoration: none;
      font-family: $primary-font;
      font-size: 16px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
    }
  }

  .mobile-menu-btn {
    z-index: 3;
    position: absolute;
    top: 32px;
    right: 20px;
    font-size: 32px;
    transition: 1000ms ease all;
  }

  .active-menu-btn {
    transform: rotate(180deg);
  }
}

.desktop-menu {
  display: none;
}

.display-none {
  display: none;
}

i {
  font-size: 0px;
  color: #0d4882;
}

.logo {
  width: 17vw;
}
.logo img {
  width: 100%;
}

nav {
  z-index: 1;
  /*  position: fixed; */
  width: 100%;
  background-color: white;
  color: #0d4882;

  .desktop-menu ul {
    display: flex;
    list-style: none;
  }

  .desktop-menu li {
    cursor: pointer;
    margin-left: 50px;
    text-transform: uppercase;
    transition: 500ms ease all;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 15px;
  }

  .desktop-menu li:hover {
    color: rgba(0, 242, 255, 0.9);
  }

  .nav-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
  }

  .nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@keyframes slide-in {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1000px);
  }
}

.slide-in {
  animation: slide-in 1000ms ease;
  display: inherit;
}

.slide-out {
  animation: slide-out 1000ms ease;
}
