@use "../base" as *;
@use "./header";
@use "./main";
@use "./footer";
@use "./nav";
@use "./service";
@use "./contact";

@include media-md {
  .mobile-menu-btn {
    display: none;
  }
  .logo {
    width: 5vw;
  }

  .desktop-menu li {
    list-style-type: none;

    a {
      text-decoration: none;
      font-family: $primary-font;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .desktop-menu {
    display: flex;
    align-items: center;
  }
  .button_nav {
    padding: 7px 7px;
    display: inline-block;
    border: none;
    background-color: #0d4882;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 13px;
  }
  .desktop-menu li a {
    font-size: 12px;
  }
  .button_nav {
    font-size: 12px;
    padding: 5px 5px;
  }
  nav .desktop-menu li {
    margin-left: 34px;
  }
  .logo {
    width: 11vw;
  }
  nav .nav-wrap {
    margin: 0 3vw;
  }

  /*into-content*/
  #intro-content {
    flex-direction: row;

    .intro-img {
      width: 150vw;
      margin-left: 3vw;
      margin-top: 0;
    }
    .intro-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  /*service*/
  #service .service-list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  /*choose*/
  #choose-us .choose-list {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    gap: 2px 4px;
    .ch {
      height: 16vw;
    }
  }

  /*extra*/
  #extra {
    flex-direction: row;
    .question {
      .q-icon {
        .fa-phone-volume:before {
          font-size: 90px;
        }
      }
    }
    .job {
      margin-top: 0;
      .j-icon {
        .fa-search-plus:before {
          font-size: 90px;
        }
      }
    }
  }

  footer {
    height: 100%;
    #footer-h {
      align-items: center;

      .f-imgdesc {
        .f-logo {
          width: 5vw;
        }
        .f-desc {
          h3 {
            font-size: 10px;
          }
        }
      }

      .f-contact {
        .f-icon {
          h1 {
            font-size: 14px;
          }
        }
        .f-cdesc {
          h3 {
            font-size: 10px;
          }
        }
      }
      .f-offer {
        .f-icon {
          h1 {
            font-size: 14px;
          }
        }
        .f-odesc {
          h3 {
            font-size: 10px;
          }
        }
      }
    }
  }

  /*service.html*/
  #service-cont {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 28px 28px;

    .s-desc {
      h1 {
        margin-bottom: 1vw;
      }
    }
  }

  /*contact.html*/
  #contact-info {
    flex-direction: row;
    .c-form {
      width: 158vw;
    }
    .c-desc {
      margin-bottom: 0;
      h2 {
        font-size: 16px;
      }
    }
  }
}

@include media-lg {
  .desktop-menu li a {
    font-size: 15px;
  }
  .button_nav {
    font-size: 15px;
    padding: 6px 8px;
  }
  .logo {
    width: 9vw;
  }

  /*into-content*/
  #intro-content {
    margin-top: 0vw;

    .intro-text {
      h1 {
        font-size: 45px;
      }
      p {
        font-size: 16px;
        margin-top: 1vw;
      }
    }
    .intro-img {
      width: 110vw;
    }
  }
  /*service*/
  #service {
    .service-icon {
      h1 {
        margin-left: 1vw;
        font-size: 19px;
        margin-top: 0.5vw;
      }
    }
    .service-list {
      h2 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
      }
      .s-button {
        margin-top: 1vw;
        padding: 7px 14px;
        font-size: 12px;
        &:hover {
          background-color: #0d4882;
          color: white;
          border: none;
        }
      }
    }
  }

  /*choose*/
  #choose-us {
    .choose-icon {
      h1 {
        margin-left: 1vw;
        text-transform: uppercase;
        font-size: 19px;
        margin-top: 0.5vw;
      }
    }
    .choose-list {
      .ch {
        height: 13vw;
        width: 82%;

        h3 {
          font-size: 14px;
        }
      }
    }
  }

  /*extra*/
  #extra {
    justify-content: space-evenly;
    margin-top: 5vw;
    .question {
      .q-icon {
        .fa-phone-volume:before {
          font-size: 130px;
        }
      }
      .q-desc {
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 13px;
          text-align: start;
        }
        .q-button {
          margin-top: 1vw;
          padding: 7px 14px;
          font-size: 12px;
          &:hover {
            background-color: #0d4882;
            color: white;
            border: none;
          }
        }
      }
    }
    .job {
      margin-top: 0;
      .j-icon {
        .fa-search-plus:before {
          font-size: 130px;
        }
      }
      .j-desc {
        h1 {
          font-size: 18px;
        }
        p {
          font-size: 13px;
          text-align: start;
        }
        .j-button {
          margin-top: 1vw;
          padding: 7px 14px;
          font-size: 12px;
          &:hover {
            background-color: #0d4882;
            color: white;
            border: none;
          }
        }
      }
    }
  }

  footer {
    height: 100%;
    #footer-h {
      align-items: center;

      .f-imgdesc {
        .f-logo {
          width: 8vw;
        }
        .f-desc {
          h3 {
            font-size: 14px;
          }
        }
      }

      .f-contact {
        .f-icon {
          h1 {
            font-size: 18px;
          }
        }
        .f-cdesc {
          h3 {
            font-size: 14px;
          }
        }
      }
      .f-offer {
        .f-icon {
          h1 {
            font-size: 18px;
          }
        }
        .f-odesc {
          h3 {
            font-size: 14px;
          }
        }
      }
    }
  }

  /*service.html*/
  .s-heading {
    font-size: 26px;
  }
  #s-foot {
    position: relative;
    top: 70vw;
  }
  #service-cont {
    gap: 28px 35px;
    max-width: 800px;
    position: absolute;
    right: 24vw;
    .s-desc {
      h1 {
        font-size: 22px;
      }
      p {
        font-size: 16px;
      }
      .s-btn {
        margin-top: 1vw;
        padding: 7px 14px;
        font-size: 12px;
        &:hover {
          background-color: #0d4882;
          color: white;
          border: none;
        }
      }
    }
  }

  /*contact.html*/
  #contact-info {
    justify-content: center;
    .c-form {
      width: 34vw;
      margin-left: 2vw;
      label {
        font-size: 16px;
      }
      h1 {
        font-size: 20px;
      }
    }
    .c-desc {
      width: 21vw;
      h2 {
        font-size: 19px;
      }
    }
  }
}
